// Flex grid
@mixin Flex($val: 1)
{
	box-flex: $val;
	// New version
	flex: $val;
}


// Helper mixin
@mixin CoreFlex($size, $min, $cols: 12)
{
	@media (min-width: $min) 
	{
		@for $i from 1 through $cols {
			// Col
			.flex-col-#{$size}-#{$i} {
				.flexbox &, .flexboxlegacy & {
					@include Flex(0 1 ($i * 100% / 12));
				}
				.no-flexboxlegacy & {
					width: $i * 100% / 12;
				}
			}
		}
	}
} 

// Use
@if $module-flexbox {
	// For each grid
	[class^="flex-col-"], [class*=" flex-col-"] {
		padding-left: $flexboxIndent;
		padding-right: $flexboxIndent;
		min-height: 1px;
	}

	// Add grid for each size
	$i: 1;
	@each $size in $flexboxSizes 
	{
		@include CoreFlexbox("#{$size}", nth($flexboxIndents, $i));
		$i: $i + 1;
	}
}
