/**
 * Global mixins
 * @author Martin Adamec
 * @url http://adamecmartin.cz
 */

/**
 * Max width of a element
 * @param {$width} Maximum width
 */
@mixin maxWidth($width) {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	max-width: $width;
}

/**
 * Clearfix
 * @param {$list} Array of class
 */
@mixin clearfix($list)
{
	@each $item in $list {
		.#{$item} {
			&:before, &:after {
				content: " ";
				display: table;
			}
			&:after {
				clear: both;
			}
		}
	}
}



/**
 * Font properties
 * @param {$size}   Font-size
 * @param {$lineHeight}     Line-height
 * @param {$weight} Font weight
 */
@mixin font($size, $lineHeight: 1.3em, $weight: null)
{
	font-size: $size;
	// Line height
	@if $lineHeight != null {
		line-height: $lineHeight;
	}
	// Font weight
	@if $weight != null {
		font-weight: $weight;
	}
}



/**
 * Text decoration
 * @param {$normal} Text-decoration when non hover
 * @param {$hover} Text-decoration when hover, focus
 */
@mixin underline($normal: 0, $hover: 0)
{
	@if $normal == 1 {
		text-decoration: underline;
	}
	@else {
		text-decoration: none;
	}
	// Hover
	@if $hover == 1 {
		&:hover, &:focus {text-decoration: underline;}
	}
	@else {
		&:hover, &:focus {text-decoration: none;}
	}
}


/**
 * Opacity
 */
@mixin opacity($val)
{
	filter: alpha (opacity=#{$val*100});
	opacity: $val;
}


/**
 * Headings
 */
@mixin headings {
	h1, h2, h3, h4, h5, h6 {
		@content;
	}
}


/**
 * Placeholder
 */
@mixin placeholderStyle {
	&::-webkit-input-placeholder {
		@content;
	}
	&::-moz-placeholder {
		@content;
	}
	&:-moz-placeholder {
		@content;
	}
	&:-ms-input-placeholder {
		@content;
	}
}


/**
 * Placeholder: color
 */
@mixin placeholderColor($color) {
	@include placeholderStyle {
		color: $color;
	}
}


/**
 * Get Font family by key
 */
@mixin fontFamily($type: "base") {
	font-family: font-family($type);
}


/**
 * set transitions to element
 */
@mixin transitionCustom($props: all, $speed: $transition-default, $ease: $transition-ease) {
	transition: $props $speed $ease;
}
