/**
 * Build
 * @author Martin Adamec
 * @url http://adamecmartin.cz
 */

//

/** 
 * Add grid for each size
 *
@each $size in $Core__grid-sizes 
{
	@include __Grid($size, __ScreenGetMin($size), $Core__grid-cols);
}


/**
 * Row
 *
.row {
	margin-left: $Core__row-margin;
	margin-right: $Core__row-margin;
	position: relative;
	> [class^="col-"], > [class*=" col-"] {
		padding-left: $Core__col-padding;
		padding-right: $Core__col-padding;
	}
}
.row-md {
	margin-left: $Core__row-margin-md;
	margin-right: $Core__row-margin-md;
	position: relative;
	> [class^="col-"], > [class*=" col-"] {
		padding-left: $Core__col-padding-md;
		padding-right: $Core__col-padding-md;
	}
}
.row-sm {
	margin-left: $Core__row-margin-sm;
	margin-right: $Core__row-margin-sm;
	position: relative;
	> [class^="col-"], > [class*=" col-"] {
		padding-left: $Core__col-padding-sm;
		padding-right: $Core__col-padding-sm;
	}
}
.row-xs {
	margin-left: $Core__row-margin-xs;
	margin-right: $Core__row-margin-xs;
	position: relative;
	> [class^="col-"], > [class*=" col-"] {
		padding-left: $Core__col-padding-xs;
		padding-right: $Core__col-padding-xs;
	}
}


/**
 * Flex
 *
[class^="flex-col-"], [class*=" flex-col-"] {
	padding-left: $Core__col-padding;
	padding-right: $Core__col-padding;
	min-height: 1px;
}
@each $size in $Core__grid-sizes 
{
	@include __Flex($size, __ScreenGetMin($size), $Core__grid-cols);
}


/**
 * Visiblity
 *
// Base
.visible {
	display: block;
}
.hidden {
	display: none !important;
}
// Grid
@each $size in $Core__grid-sizes 
{
	@include __Visibility($size, __ScreenGetMin($size), __ScreenGetMax($size));
}


/**
 * Alert
 *
.alert {
	padding: 8px 16px 8px 58px;
	margin-top: $margin;
	margin-bottom: $margin;
	position: relative;
	min-height: 40px;
	border: 1px solid transparent;
	// Alert group
	& + .alert {
		margin-top: -#{$margin-sm};
	}
	// Icon
	&:before {
		display: block;
		position: absolute;
		left: 18px;
		top: 50%;
		margin-top: -15px;
		@include font-family("ico");
		@include font(30px, 30px);
	}
	p {
		margin: $margin-sm 0;
	}
}
@include __AlertBox(info, $primary, $white, $primary, "\f05a");
@include __AlertBox(danger, $danger, $white, $danger, "\f06a");
@include __AlertBox(success, $success, $white, $success, "\f058");
@include __AlertBox(warning, $warning, $white, $warning, "\f05a");
*/